#angel {
  --unicode:'\a13';
  --c1: 127, 58, 68;
  --c2: 184, 124, 134;
}

#daisuke {
  --unicode:'\a22';
  --c1: 181, 73, 188;
  --c2: 110, 151, 207;
}

#dante {
  --unicode:'\a28';
  --c1: 119, 70, 65;
  --c2: 149, 150, 103;
}

#faust {
  --unicode:'\e925';
  --c1: 116, 74, 110;
  --c2: 130, 147, 134;
}

#josiah {
  --unicode:'\a125';
  --c1: 183, 100, 118;
  --c2: 201, 148, 132;
}

#jules {
  --unicode:'\e927';
  --c1: 135, 146, 152;
  --c2: 71, 108, 124;
}

#kazimir {
  --unicode:'\a17';
  --c1: 105, 76, 117;
  --c2: 171, 124, 166;
}

#noelle {
  --unicode:'\a31';
  --c1: 147, 133, 146;
  --c2: 153, 123, 129;
}

#vander {
  --unicode:'\e92a';
  --c1: 103, 80, 64;
  --c2: 153, 141, 123;
}

#warren {
  --unicode:'\a50';
  --c1: 90, 95, 72;
  --c2: 137, 136, 115;
}
